@mixin flexBox {
    display: flex;
    flex-direction: column;
    align-items: unset;
    row-gap: 0;
}


@mixin flexBox2 (
    $direction : column,
    $alignItem : center,
    $justify : center,
    $rowGap : 3vh

) {

    display: flex;
    flex-direction: $direction;
    align-items: $alignItem;
    justify-content: $justify;
    row-gap: $rowGap;
}


@mixin bgPic (
    $url,
    $size : contain,
    $position : center

) {

    background-image: url($url);
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}