@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

$fontFamily-p : "Roboto" , sans-serif;
$fontFamily-h : "Oleo Script Swash Caps" , serif;

$blue : #29b6f6;
$gray : #616161;
$black : #212121;
$bgBlack : rgba(80,80,80,.5);
$lightGray : #b0bec5;
$bgColor : #fafafa;